    LogLevel warn

    LogFormat "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined

    ErrorLog {{ apache_vhost_ssl_error_log }}

    CustomLog {{ apache_vhost_ssl_custom_log }}

    CustomLog {{ apache_vhost_ssl_request_log }}
