[PHP]
engine = On
short_open_tag = Off
asp_tags = Off
precision = 14
y2k_compliance = On
output_buffering = 4096
zlib.output_compression = Off
implicit_flush = Off
unserialize_callback_func =
serialize_precision = 100
allow_call_time_pass_reference = Off
safe_mode = Off
safe_mode_gid = Off
safe_mode_include_dir =
safe_mode_exec_dir =
safe_mode_allowed_env_vars = PHP_
safe_mode_protected_env_vars = LD_LIBRARY_PATH

disable_functions = {{ apache_mod_php_ini_disable_functions | selectattr('disabled') | map(attribute='function')| join(',') }}
disable_classes = {{ apache_mod_php_disable_classes }}

expose_php = {{ apache_mod_php_expose_php }}

max_execution_time = {{ apache_mod_php_max_execution_time }}
max_input_time = 60

memory_limit = {{ apache_mod_php_memory_limit }}

error_reporting = {{ apache_mod_php_error_reporting }}
error_log = {{ apache_mod_php_error_log }}
display_errors = {{ apache_mod_php_display_errors }}
display_startup_errors = {{ apache_mod_php_display_startup_errors }}
log_errors = {{ apache_mod_php_log_errors }}
log_errors_max_len = 1024
ignore_repeated_errors = {{ apache_mod_php_ignore_repeated_errors }}
ignore_repeated_source = Off
report_memleaks = {{ apache_mod_php_report_memleaks }}
track_errors = {{ apache_mod_php_track_errors }}
html_errors = {{ apache_mod_php_html_errors }}

{% if apache_mod_php_include_path is not none %}
include_path = {{ apache_mod_php_include_path }}
{% endif %}

{% if apache_mod_php_extension_dir is not none %}
extension_dir = {{ apache_mod_php_extension_dir }}
{% endif %}

variables_order = {{ apache_mod_php_variables_order }}
request_order = {{ apache_mod_php_request_order }}
register_globals = Off
register_long_arrays = Off
register_argc_argv = Off
auto_globals_jit = On
post_max_size = {{ apache_mod_php_post_max_size }}

magic_quotes_gpc = Off
magic_quotes_runtime = Off
magic_quotes_sybase = Off
auto_prepend_file =
auto_append_file =
default_mimetype = "text/html"

{% if apache_mod_php_mime_magic_magicfile is not none %}
mime_magic.magicfile = {{ apache_mod_php_mime_magic_magicfile }}
{% endif %}

doc_root = {{ apache_mod_php_doc_root }}
open_basedir = {{ apache_mod_php_open_basedir }}

user_dir =

enable_dl = {{ apache_mod_php_enable_dl }}

file_uploads = {{ apache_mod_php_file_uploads }}
upload_max_filesize = {{ apache_mod_php_upload_max_filesize }}
max_file_uploads = {{ apache_mod_php_max_file_uploads }}

{% if apache_mod_php_upload_tmp_dir is not none %}
upload_tmp_dir = {{ apache_mod_php_upload_tmp_dir }}
{% endif %}

allow_url_fopen = {{ apache_mod_php_allow_url_fopen }}
allow_url_include = {{ apache_mod_php_allow_url_include }}
allow_webdav_methods = {{ apache_mod_php_allow_webdav_methods }}
default_socket_timeout = {{ apache_mod_php_default_socket_timeout }}

[Date]
date.timezone = {{ apache_mod_php_timezone }}

[Syslog]
define_syslog_variables  = Off

[mail function]
SMTP = {{ apache_mod_php_smtp }}
smtp_port = {{ apache_mod_php_smtp_port }}
sendmail_path = /usr/sbin/sendmail -t -i

mail.add_x_header = On

[SQL]
sql.safe_mode = Off

[ODBC]
odbc.allow_persistent = On
odbc.check_persistent = On
odbc.max_persistent = -1
odbc.max_links = -1
odbc.defaultlrl = 4096
odbc.defaultbinmode = 1

[MySQL]
mysql.allow_persistent = On
mysql.max_persistent = -1
mysql.max_links = -1
mysql.default_port =
mysql.default_socket =
mysql.default_host =
mysql.default_user =
mysql.default_password =
mysql.connect_timeout = 60
mysql.trace_mode = Off

[MySQLi]
mysqli.max_links = -1
mysqli.default_port = 3306
mysqli.default_socket =
mysqli.default_host =
mysqli.default_user =
mysqli.default_pw =
mysqli.reconnect = Off

[PostgresSQL]
pgsql.allow_persistent = On
pgsql.auto_reset_persistent = Off
pgsql.max_persistent = -1
pgsql.max_links = -1
pgsql.ignore_notice = 0
pgsql.log_notice = 0

[Sybase-CT]
sybct.allow_persistent = On
sybct.max_persistent = -1
sybct.max_links = -1
sybct.min_server_severity = 10
sybct.min_client_severity = 10

[bcmath]
bcmath.scale = 0

[Session]
session.save_handler = files
{% if apache_mod_php_session_save_path is not none %}
session.save_path = "{{ apache_mod_php_session_save_path }}"
{% endif %}
session.use_cookies = {{ apache_mod_php_session_use_cookies }}
session.use_only_cookies = {{ apache_mod_php_session_use_only_cookies }}
session.name = {{ apache_mod_php_session_name }}
session.auto_start = {{ apache_mod_php_session_auto_start }}
session.cookie_lifetime = {{ apache_mod_php_session_cookie_lifetime }}
session.cookie_path = {{ apache_mod_php_session_cookie_path }}
{% if apache_mod_php_session_cookie_domain is not none %}
session.cookie_domain = {{ apache_mod_php_session_cookie_domain }}
{% endif %}
session.cookie_secure = {{ apache_mod_php_session_cookie_secure }}
session.cookie_httponly = {{ apache_mod_php_session_cookie_httponly }}
session.serialize_handler = php
session.gc_probability = 1
session.gc_divisor = 1000
session.gc_maxlifetime = 1440
session.bug_compat_42 = Off
session.bug_compat_warn = Off
session.referer_check = {{ apache_mod_php_session_referer_check }}
session.entropy_length = 32
{% if apache_mod_php_session_entropy_file is not none %}
session.entropy_file = {{ apache_mod_php_session_entropy_file }}
{% endif %}
session.cache_limiter = nocache
session.cache_expire = {{ apache_mod_php_session_cache_expire }}
session.use_trans_sid = {{ apache_mod_php_session_use_trans_sid }}
session.hash_function = {{ apache_mod_php_session_hash_function }}
session.hash_bits_per_character = {{ apache_mod_php_session_hash_bits_per_character }}
url_rewriter.tags = "a=href,area=href,frame=src,input=src,form=fakeentry"

[MSSQL]
mssql.allow_persistent = On
mssql.max_persistent = -1
mssql.max_links = -1
mssql.min_error_severity = 10
mssql.min_message_severity = 10
mssql.compatability_mode = Off
mssql.secure_connection = Off

[Tidy]
tidy.clean_output = Off

[soap]
soap.wsdl_cache_enabled=1
soap.wsdl_cache_dir="/tmp"
soap.wsdl_cache_ttl=86400
