<IfModule prefork.c>
  LoadModule {{ apache_mod_php_module_name }} {{ apache_mod_php_module_so_path }}
</IfModule>

<FilesMatch \.php$>
    SetHandler application/x-httpd-php
</FilesMatch>

AddType text/html .php

DirectoryIndex index.php

{% if not apache_mod_php_use_package_php_ini %}
PHPINIDir {{ apache_mod_php_ini_path | dirname }}
{% endif %}
